a{
    text-decoration: none;
    color: black;
}
ul li{
list-style:none;
float:left;
width:14%;
height:50px;
text-align:center;
background:grey;
}
li{
border-right:1px solid white;
}
li:hover{
background-color:white;
}
#nav{
width:70%;
height:100px;
float:right ;
text-align:center;
}
    body{
        background-image: url("first.jpg");
    }
