h3{
        color: black;
        text-align: center;
        font-family: sans-serif,"Times new Roman";
 }
 table{
            width:600px;
            height:400px;
        }
a{
    text-decoration: none;
}
p{
    width:140px;
    height:20px;
    padding:10px;
    text-align:center;
    border-radius: 5px;
    box-sizing:content-box;
    font-size: 20px;
    margin:0 auto;
    }
body{
        background-image: url("disp44.jpg");
    }